@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: rgba(0, 0, 0, 0.9);
  background-color: #f5f0f0;
  overflow-x: hidden;
}
.head{
  font-size: 24px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.9);
}
p{
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
h1, h2, h3, h4, h5, h6{
  font-weight: 600;
}
Button{
  color: black !important;
}
.btn-org{
  color: #fff !important;
  background: #ff5252 !important;
  font-size: 16px !important;
  font-weight: 500 !important;
  padding: 7px 20px !important;
}

.btn-org:hover{
  background-color: #171717 !important;
}
.shadow-md, .shadow-lg{
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}


::-webkit-scrollbar{width: 10px !important; height: 10px !important;}
::-webkit-scrollbar-thumb{background: #ccc;}
::-webkit-scrollbar-track{background: white;}


.container{
  width: 90%; margin: auto;
};

.link{
  font-size: 10px;
  font-weight: 200;
  transition: all;
}
.link:hover{
 color: #ff5252;
};


.muiBadge-badge{margin: 1px;}
.MuiBadge-badge{background-color: #ff5252 !important;}

.text14{
  font-size: 14px;
}

nav ul button{
  text-transform: capitalize !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
nav ul button:hover{
  text-transform: capitalize !important;
  color: #ff5252 !important;
}


.swiper-button-prev, .swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  font-size: 10px;
  border-radius: 100%;
  width: 45px;
  height: 45px;
  min-width: 45px;
  box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}
.swiper-button-prev::after, .swiper-button-next::after{
  font-size: 23px !important;
  color: black !important;
}


.homeCatSlider{
  overflow: inherit !important;
}
.homeCatSlider .item{
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.homeCatSlider .item:hover img{
  transform: scale(1.1);
}
.homeCatSlider .swiper-button-prev, .homeCatSlider .swiper-button-next{
  width: 30px;
  height: 30px;
  min-width: 30px;
}
.homeCatSlider .swiper-button-prev::after, .homeCatSlider .swiper-button-next::after{
  font-size: 16px !important;
}
.homeCatSlider .swiper-button-prev{
  left: 0px !important;
}
.homeCatSlider .swiper-button-next{
  right: 0px !important;
}
 .swiper-button-prev:hover, .swiper-button-next:hover{
  background: #ff5252 !important;
}

.smlBtn .swiper-button-prev, .smlBtn .swiper-button-next{
  width: 30px !important;
  height: 30px !important;
  min-width: 30px !important;
  top: 55% !important;
}
.smlBtn .swiper-button-prev::after, .smlBtn .swiper-button-next::after{
  font-size: 16px !important;
}

.MuiTabs-indicator{
  background-color: #ff5252 !important;
}
.MuiTab-textColorPrimary.Mui-selected{
  color: #ff5252 !important;
}

.productsSlider .swiper-wrapper{
  padding: 15px;
  margin-left: -15px; margin-right: -15px;
}

.btn-org{
  color: #fff;
  background: #ff5252;
  font-size: 16px;
  font-weight: 500;
}

footer form input::placeholder{
  font-size: 14px !important;
}

.css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.Mui-checked, .css-imrjgg-MuiButtonBase-root-MuiCheckbox-root.MuiCheckbox-indeterminate {
  color: #ff5252 !important;
}
.MuiFormControlLabel-label{
  font-size: 13px !important;
  color: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: #ff5252 !important;
}
.homeSliderV2 .swiper-slide-active .info{
  right: 0px !important; opacity: 1 !important;
}
.homeSliderV2 .swiper-slide-active .info h4{
  top: 0px !important; opacity: 1 !important;
}
.homeSliderV2 .swiper-slide-active .info h3{
  right: 0px !important; opacity: 1 !important;
}
.homeSliderV2 .swiper-slide-active .info  .btn{
  bottom: 0px !important; opacity: 1 !important;
}
.homeSliderV2 h4{
  transition-duration: 1.5s;
}
.homeSliderV2 h3{
  transition-duration: 1.5s;
}
.homeSliderV2  .btn{
  transition-duration: 1.5s;
}

.MuiCheckbox-root{
  padding: 6px !important;
}

.itemViewAction button.active svg{
  color: #ff5252 !important;
  opacity: 1 !important;
}

.zoomProductSliderThumbs .swiper-slide{
  height: auto !important;
}
.zoomProductSliderThumbs .swiper-wrapper{
  /* padding-top: 30px;
  padding-bottom: 30px; */
}
.zoomProductSliderThumbs .swiper-button-next{
  bottom: 0px !important; right: inherit !important; top: inherit !important; width: 100% !important; height: 30px !important; border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-next::after{
  transform: rotate(90deg);
}
.zoomProductSliderThumbs .swiper-button-prev{
  top: 20px !important; left: 0 !important; width: 100% !important; height: 30px !important; border-radius: 0px !important;
}
.zoomProductSliderThumbs .swiper-button-prev::after{
  transform: rotate(90deg);
}


.productContent .actions button{min-width: 40px !important; border: 1px solid rgba(0, 0, 0, 0.1) !important; height: 30px !important;}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.iiz div{
  width: 100% !important;
}
 .iiz div:first-child{
  border-radius: 10px !important;
}

.reviewScroll::-webkit-scrollbar{
  width: 6px !important;
}
.reviewScroll::-webkit-scrollbar-thumb{
  background: #ccc !important;
}

.productDetailsModel .MuiDialogContent-root{padding: 0px !important;}