.sidebar .scroll{max-height: 200px; overflow-y: scroll; overflow-x: hidden;}
.sidebar .scroll::-webkit-scrollbar{
  width: 5px !important;
  height: 5px !important;
}
.scroll::-webkit-scrollbar-thumb{
  background: #ccc !important;
}
.ReactCollapse--collapse {
  transition: height 400ms;
}

.range-slider{
  height: 4px !important;
  color: rgb(28, 63, 34) !important;
  /* background: #000 !important; */
}
.range-slider .range-slider__thumb{
  width: 14px !important;
  height: 14px !important;
  background: #ff5252 !important;
}
.range-slider .range-slider__range {
  background: #ff5252 !important;
}